---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` and set theme here
@import "theme-{{ site.theme_color | default: "black" }}.scss";

h1 {
  font-size: clamp(1.6rem, 3vw, 2.2rem) !important;
  line-height: 1.15 !important;

  background: yellow !important;
  border: 6px solid red !important;
  display: inline-block !important;
  padding: 6px 10px !important;
}
