---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` and set theme here
@import
        "theme-{{ site.theme_color | default: "black" }}.scss"
;

h1 {
  outline: 6px solid red !important;
}


header a.text-accent {
  font-size: 1.0rem !important;
}
