---
---
@charset "utf-8";

// Import partials from `sass_dir` and set theme here
@import "theme-{{ site.theme_color | default: 'black' }}.scss";

/* Home title */
.header-title .hero-welcome{
  display: block;
  font-size: 6rem;
  line-height: 1.05;
}

/* Home subtitle */
.header-title .hero-subtitle{
  display: block;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

/* Push About Me (and other post pages) down a bit */
article[itemscope][itemtype*="BlogPosting"]{
  padding-top: 5rem !important;
}

/* --- Fix social icon positioning (GitLab/GitHub) --- */
.link-social,
.link-social.block,
.link-social-inline {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  line-height: 0;
}

.link-social svg,
.link-social-inline svg {
  display: inline-block;
  vertical-align: middle;
}
