---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "theme-{{ site.theme_color | default: "black" }}.scss";

/* Home title */
.header-title .hero-welcome{
  display: block;
  font-size: 6rem;
  line-height: 1.05;
}

/* Home subtitle */
.header-title .hero-subtitle{
  display: block;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
  margin-top: 0.5rem;

  /* set this to 0 if you want PERFECT alignment */
  margin-left: 0.2;
}

article[itemscope][itemtype*="BlogPosting"]{
  padding-top: 5rem !important;
}
