---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` and set theme here
@import "theme-{{ site.theme_color | default: "black" }}.scss";


h1 { font-size: clamp(1.2rem, 2.2vw, 1.8rem) !important; }

article[itemscope][itemtype*="BlogPosting"] {
  padding-top: 3rem !important;   /* increase to move it further down */
}


