---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` and set theme here
@import "theme-{{ site.theme_color | default: "black" }}.scss";

/* Home title */
.header-title .hero-welcome{
  display: block;
  font-size: 6rem;
  line-height: 1.05;
  padding-right: 10rem;
}

/* Home subtitle */
.header-title .hero-subtitle{
  display: block;
  font-size: 2rem;
  font-weight: 10;
  line-height: 1.2;
  margin-top: 0.5rem;
  margin-left: 2.0rem;
}

article[itemscope][itemtype*="BlogPosting"] {
  padding-top: 5rem !important;   /* increase to move it further down */
}


