---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` and set theme here
@import
        "theme-{{ site.theme_color | default: "black" }}.scss"
;

header a.text-accent {
  font-size: clamp(1.0rem, 2.2vw, 1.25rem);
}

